.about-us {
  min-height: 100dvh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.363);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.greeting-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
