.gallery-carousel-container {
  border: solid 8px var(--white);
  /* max-height: 10%; */
  max-width: 85%;
  background-color: black;
}

@media (min-width: 800px) {
  .gallery-carousel-container {
    max-width: 650px;
  }
}
