.change-page-btn-container {
  display: none;
}

.previous {
  top: 4.5rem;
}

.next {
  bottom: 1rem;
}

@media screen and (max-width: 1050px) {
  .change-page-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 998;
  }

  .change-page-btn {
    font-size: 2.5rem;
    z-index: 998;
    animation: scale 1s alternate infinite linear;
  }

  @keyframes scale {
    0% {
      transform: scale(1);
      color: rgba(245, 245, 245, 0.6);
    }

    100% {
      transform: scale(1.1);
      color: rgba(245, 245, 245, 0.9);
    }
  }
}
