.contact-card-container {
  background-color: var(--white-transparent);
  color: black;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  margin: var(--contact-card-container-margin);
  color: var(--white);
}

.contact-card-image-container {
  border-radius: 50px;
}

.contact-card-image {
  border-radius: 50%;
  height: var(--contact-card-image-size);
  width: var(--contact-card-image-size);
}

.contact-card-name-email {
  margin: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--white);
}

.contact-card-button {
  background-color: rgba(48, 48, 48, 0.815);
  color: var(--white);
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
