.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: 2.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0.5rem;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 1050px) {
  .navbar-container {
    flex-direction: column;
  }
}

.navbar-logo-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

@media screen and (max-width: 1050px) {
  .navbar-logo-container {
    position: relative;
    padding: 1rem;
  }
}

.navbar-logo {
  height: 40px;
  margin: 0.2rem;
}

.navbar-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .navbar-ul {
    display: none;
  }
}

.navbar-ul-visible {
  display: flex;
  flex-direction: column;
}

.navbar-ul-li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar-ul-li-a {
  text-decoration: none;
  color: lightgray;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.2rem 0;
}

.navbar-ul-li-a:hover {
  color: yellow;
}

.navbar-active {
  color: white;
  border-bottom: 1px solid yellow;
}

.navbar-mobile-icon-container {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-mobile-icon-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
  }
}

.navbar-mobile-icon {
  display: block;
  font-size: 2rem;
  color: lightgray;
}
