.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  padding: 0.5rem;
}

.navbar-logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  position: relative;
}

.navbar-logo {
  height: 40px;
}

.navbar-ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  /* background-color: bisque; */
}

.navbar-ul-li {
  margin: 0 0.6rem;
  padding: 0.5rem;
}

.navbar-ul-li-a {
  text-decoration: none;
  color: lightgray;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-ul-li-a:hover {
  color: yellow;
}

.navbar-active {
  color: white;
  border-bottom: 1px solid yellow;
}

.navbar-mobile-icon-container {
  display: none;
}

/* MEDIA QUERY */

@media screen and (max-width: 1050px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar-ul {
    padding-top: 0.5rem;
    display: none;
    flex-direction: column;
  }

  .navbar-logo-container {
    width: 100%;
    justify-content: center;
    /* margin-bottom: 1rem; */
  }

  .navbar-mobile-icon-container {
    display: block;
    height: 100%;
    width: 2.5rem;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-mobile-icon {
    display: block;
    font-size: 1.5rem;
    color: lightgray;
  }
}

.navbar-ul-visible {
  display: flex;
  flex-direction: column;
}
