.page-section {
  min-height: 100dvh;
  width: 100%;
  scrollbar-width: none;
  scroll-behavior: smooth;
  position: relative;
}

.fade-in-from-center {
  animation: center 0.5s ease-in;
}

.fade-in-from-top {
  animation: previous 1s ease-in;
}

.fade-in-from-bottom {
  animation: next 1s ease-in;
}

@keyframes previous {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes next {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes center {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  display: none;
}

.blur-container::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 2.5s infinite;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.blur-container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  inset: 0;
  opacity: 1;
}

.blur-container-loaded::before {
  content: none;
}

.background-image {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.background-image-loaded {
  opacity: 1;
}

.fade-in-from-left {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
