.pricing-container {
  background-color: whitesmoke;
  padding: 0.5rem;
  border-radius: 12px;
  max-width: 80%;
}

#pricing-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

#pricing-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

#pricing-table td,
#pricing-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#pricing-table tr:nth-child(even) {
  background-color: lightgray;
}

#pricing-table tr:hover {
  background-color: #ddd;
}
