:root {
  /* COLORS */
  --white: rgb(245, 245, 245);
  --white-transparent: rgba(201, 200, 200, 0.459);
  --yellow: rgb(255, 255, 0);
  --light-gray: rgb(211, 211, 211);
  --light-black: rgb(37, 37, 37);
  --navbar-footer-black: rgba(0, 0, 0, 0.8);

  /* FONT SIZES */
  --fs-h1: 2rem;
  --fs-h2: 1.25rem;
  --fs-text: 1rem;
  --fs-table-text: 0.8rem;

  /* TEXT-CONTAINER-TEXT-SENTENCE PADDING */
  --text-container-text-sentence-padding: 1rem 0;

  /* TEXT SHADOWS */
  --text-shadow-black: 2px 1px 4px rgba(0, 0, 0, 0.6);

  /* CONTACT CARD SIZES */
  --contact-card-image-size: 8rem;
  --contact-card-container-margin: 1.5rem;
}

@media (min-width: 500px) {
  :root {
    --fs-h1: 2.25rem;
    --fs-h2: 1.3rem;
    --fs-text: 1.2rem;
    --fs-table-text: 1rem;
    --contact-card-image-size: 8rem;
    --text-container-text-sentence-padding: 1.25rem 0;
  }
}

@media (min-width: 1000px) {
  :root {
    --fs-h1: 2.75rem;
    --fs-h2: 1.7rem;
    --fs-text: 1.3rem;
    --fs-table-text: 1.2rem;
    --contact-card-image-size: 8rem;
    --text-container-text-sentence-padding: 1.35rem 0;
  }
}

@media (min-width: 1800px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 1.65rem;
    --fs-text: 1.4rem;
    --fs-table-text: 1.25rem;
    --contact-card-image-size: 10rem;
    --text-container-text-sentence-padding: 1.55rem 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Ubuntu", "Roboto", Helvetica, Arial, sans-serif;
  letter-spacing: 0.01rem;
}

p {
  font-size: var(--fs-text);
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

a {
  text-decoration: none;
  color: inherit;
}

.text-shadow-black {
  text-shadow: var(--text-shadow-black);
}

.relative {
  position: relative;
}

.page-container {
  min-height: 100dvh;
  width: 100%;
  padding: 4rem 0 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container-last-page {
  min-height: 100dvh;
  width: 100%;
  padding: 4rem 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-heading {
  font-size: var(--fs-h1);
  font-weight: bold;
  margin: 1.5rem 0 3rem 0;
  text-shadow: var(--text-shadow-black);
  text-align: center;
}

.page-sub-heading {
  font-size: var(--fs-h2);
  font-weight: bold;
  margin: 1.5rem 0;
  text-shadow: var(--text-shadow-black);
  text-align: center;
}

.text-container {
  backdrop-filter: blur(2px) saturate(180%);
  --webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color: rgba(87, 102, 102, 0.64);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: var(--white);
  letter-spacing: 1px;
  line-height: 1.5;
  width: 90%;
  max-width: 1200px;
  padding: 1.5rem;
  margin: 1.5rem 0;
  z-index: 998;
}

.text-container-text {
  color: var(--white);
  letter-spacing: 1px;
  font-size: var(--fs-text);
  text-align: center;
  text-shadow: var(--text-shadow-black);
  margin: 0 0 1.5rem 0;
}

.text-container-text-sentence {
  padding: var(--text-container-text-sentence-padding);
}

.text-container h1,
h2 {
  display: block;
  text-align: center;
  margin: 1rem;
}

.text-container h1 {
  font-size: var(--fs-h1);
}

.text-container ul {
  padding: 0.5rem 0;
}

.text-container ul li {
  margin-left: 1rem;
  font-size: var(--fs-text);
  text-align: left;
}

.dis-flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dis-flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
